.content{
    width: 100%;
    height: 400px;
    /* background-color: #a29bfe; */
    /* background: linear-gradient(to bottom right,#a29bfe, #b8b3ff); */
    background: linear-gradient(to bottom right,#a29bfe, #83b3e5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content_size{
    width: 60%;
    margin: auto;
    padding-top: 40px;
}
.form{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    min-height: 250px;
    height: 300px;
    background-color: white;
    padding: 1%;
    border-radius: 13px;
    box-shadow: 0 0 8px 3px #00000014;
}
.h1_cs{
    margin-top: 0;
    text-align: center;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}
.h4_cs{
    text-align: center;
    color: #7d78c5;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
.h4_cs a{
    color: #7d78c5;
}
.forms{
    
}
