body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
}
#header{
    /* background-color: #a29bfe; */
    color: #fff;
    height: 50px;
    width: 100%;
    /* box-shadow: 0 2px 20px 0px #00000026; */
}
.content_header{
    width: 60%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
}
.menu li{
    list-style: none;
    margin-right: 50px;
    cursor: pointer;
}
.menu li:hover{
    color: #6c5ce7;
}
.icon{
    width: 45px;
    height: 45px;
    margin-left: 30px;
}
.info_user{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.info_user:hover .user_menu{
    display: block;
    cursor: default;
}
.user_menu{
    display: none;
    position: absolute;
    z-index: 1;
    top: 60px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 8px 3px #00000014;
    border-radius: 13px;
    color: black;
}
.um_ul{
    list-style: none;
}
.um_ul li:hover{
    color: red;
    cursor: pointer;
}