.content{
    width: 100%;
    height: 400px;
    /* background-color: #a29bfe; */
    /* background: linear-gradient(to bottom right,#a29bfe, #b8b3ff); */
    background: linear-gradient(to bottom right,#a29bfe, #83b3e5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: animate_gradient 5s ease infinite;
}
@keyframes animate_gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.content_size{
    width: 60%;
    margin: auto;
    padding-top: 40px;
}
.form{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    min-height: 250px;
    /* height: 300px; */
    height: auto;
    /* background-color: white; */
    /* box-shadow: 0 0 8px 3px #00000014; */
    padding: 1%;
    border-radius: 13px;
    position: relative;
}
.h1_cs{
    margin-top: 0;
    text-align: center;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}
.h4_cs{
    text-align: center;
    color: #7d78c5;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
.h4_cs a{
    color: #7d78c5;
}
.forms{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.num_rooms{
    display: inline-flex;
    border: 1px solid black;
    border-radius: 19px;
    width: 80%;
}
.num_rooms button{
    width: 100%;
    height: 25px;
    background: none;
    border: 0;
    cursor: pointer;
}
.num_rooms button:hover{
    background-color: gray;
}
.block{
    width: 23%;
    padding-left: 1%;
    padding-right: 1%;
}
.block p{
    margin: 0;
    margin-bottom: 10px;
}
.block input{
    width: 20%;
}
.block select{
    width: 80%;
    margin: auto;
}
.selection{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.finish{
    width: 100%;
}
.s1a{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.controll_form{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1%;
    width: 100px;
    height: 30px;
    display: inline-flex;
    justify-content: flex-end;
}
.controll_form button{
    width: 50%;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 13px;
    background-color: #e9e9e9;
    cursor: pointer;
}
.s1d{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.s1d select{
    width: 80%;
    height: 40px;
    border: 1px solid #83b3e5;
    border-radius: 13px;
    text-align: center;
    font-size: 14px;
}
.s1i{
    width: 50px;
    padding: 2%;
    border-radius: 13px;
    border: 1px solid #83b3e5;
}
.metro_c{
    margin-bottom: 10px;
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
}
.metro_c button{
    width: 50%;
    padding: 2%;
    border: 0;
    cursor: pointer;
}
.metro_c button:hover{
    background-color: #ddd;
}
.b_t{
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
}
.b_p{
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
}

.s2{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.s2d{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.s2d select{
    width: 80%;
    height: 40px;
    border: 1px solid #83b3e5;
    border-radius: 13px;
    text-align: center;
    font-size: 14px;
}
.s2d input{
    width: 80%;
    height: 40px;
    border: 1px solid #83b3e5;
    border-radius: 13px;
    text-align: center;
    font-size: 14px;
}
.s3_bl{
    width: 50%;
}
.s3{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
}
.s3d{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s3d input{
    width: 20%;
    height: 40px;
    border: 1px solid #83b3e5;
    border-radius: 13px;
    text-align: center;
    font-size: 14px;
}
.s3d select{
    width: 80%;
    height: 40px;
    border: 1px solid #83b3e5;
    border-radius: 13px;
    text-align: center;
    font-size: 14px;
}
.crtl_rooms{
    width: 80%;
    border-radius: 13px;
    border: 1px solid #83b3e5;
    height: 30px;
}
.crtl_rooms button{
    border: 0;
    width: 25%;
    height: 100%;
    cursor: pointer;
    background: none;
}
.crtl_rooms button:hover{
    background-color: #ddd;
}
.on{
    animation: on 0.8s;
}
@keyframes on {
    0% {
		opacity: 0%;
        display: block;
	}
	100% {
		opacity: 100%;
	}
}
.off{
    display: none;
}

.sl{
     background-color: white;
     box-shadow: 0 0 8px 3px #00000014;
     border-radius: 13px;
     padding: 1%;
     position: relative;
     min-height: 320px;
}
.btn_res{
    height: 50px;
    border: 0;
    width: 250px;
    border-radius: 13px;
    color: white;
    font-size: 18px;
    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
    cursor: pointer;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}