.advanteges{
    margin-top: 30px;
}
.h1_a{
    text-align: center;
}
.grid{
    display: flex;
    flex-wrap: wrap;
}
.card{
    padding: 1%;
    margin: 1%;
    width: 29%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_info{
    width: 230px;
    height: 230px;
    padding: 1%;
    background-color: #fff;
    border-radius: 13px;
}